<div class="container-fluid">
  {{barra-menu
    permisos=permisos
    componentCrear=frmComponentCrear
    modelCreator=modelCreator
    parentCreator=model.datos
    crearTitle=frmTitleCrear
    componentActualizar=frmComponentActualizar
    modelActualizar=modelActualizar
    parentActualizar=parentActualizar
    actualizarTitle=frmTitleActualizar
    componentAnular=frmComponentAnular
    modelAnular=modelAnular
    parentAnular=parentAnular
    anularTitle=anularTitle
    componentExportar=frmComponentExportar
    modelExportar=modelExportar
    parentExportar=parentExportar
    actualizarTitle=actualizarTitle
    componentImprimir=frmComponentImprimir
    modelImprimir=modelImprimir
    parentImprimir=parentImprimir
    imprimirTitle=imprimirTitle
    hashCustom=hashCustom
  }}
  <br>
  <div class="row">
    <div class="col-sm-12">
      {{models-table
      data=model.datos
      columns=model.columns
      filterQueryParameters=filterQueryParameters
      showComponentFooter=true
      showColumnsDropdown=false
      useFilteringByColumns=true
      showGlobalFilter=showGlobalFilter
      useNumericPagination=true
      ModelsTablePaginationSimple =true
      showPageSize=true
      filteringIgnoreCase=true
      columnComponents=hashColumns
    }}
    </div>
  </div>
</div>
