<div class="fgContainer">
  {{cntrl-grid
    model=model.perfiles
    frmComponentActualizar="frm-contratos"   frmTitleActualizar="Actualizar Contratos"
    frmComponentCrear="frm-contratos"    frmTitleCrear="Nuevo Contrato"
    modelCreator=model.perfiles.modelCreator}}
</div>
