<div class="fgContainer">
  {{cntrl-grid
    model=model.menu
    frmComponentActualizar="frm-menu"
    frmTitleActualizar="Actualizar Menu"
    frmComponentCrear="frm-menu"
    frmTitleCrear="Nuevo Menu"
    modelCreator=model.menu.modelCreator}}
</div>
