<div class="fgContainer">
  {{cntrl-grid
    model=model.menu
    frmComponentCrear="frm-menu"
    frmTitleCrear="Nuevo Menu"
    modelCreator=model.menu.modelCreator
    hashColumns=(hash
      editRow=(component "boton-actualizar" frmComponentActualizar="frm-menu" frmTitleActualizar="Actualizar Menu")
    )
  }}
</div>
