<div class="fgContainer">
  {{cntrl-grid
    model=model.perfiles
    frmComponentActualizar="frm-perfil"   frmTitleActualizar="Actualizar perfiles"
    frmComponentCrear="frm-perfil"    frmTitleCrear="Nuevo Perfil"
    modelCreator=model.perfiles.modelCreator}}
</div>
