<div class="fgContainer">
  {{cntrl-grid
    model=model.perfiles
    frmComponentCrear="frm-perfil"
    frmTitleCrear="Nuevo Perfil"
    modelCreator=model.perfiles.modelCreator
    hashColumns=(hash
      editRow=(component "boton-actualizar" frmComponentActualizar="frm-perfil" frmTitleActualizar="Actualizar perfiles")
      addOpt=(component "grid-selecmenu" frmComponentActualizar="frm-perfil" frmTitleActualizar="Agregar opciones de menu")
    )
  }}
</div>
