<div class="fgContainer">
  {{cntrl-grid
    model=model.pregunta
    frmComponentCrear="frm-pregunta"
    frmTitleCrear="Nueva pregunta"
    modelCreator=model.pregunta.modelCreator
    frmComponentImprimir=true
    modelImprimir=model.pregunta
    hashColumns=(hash
      editRow=(component "boton-actualizar" frmComponentActualizar="frm-pregunta" frmTitleActualizar="Actualizar preguntas")
    )
  }}
</div>
