<div class="fgContainer">
  {{cntrl-grid
    model=model.pregunta
    frmComponentActualizar="frm-pregunta"
    frmTitleActualizar="Actualizar preguntas"
    frmComponentCrear="frm-pregunta"
    frmTitleCrear="Nueva pregunta"
    modelCreator=model.pregunta.modelCreator}}
</div>
