<div class="fgContainer">
  {{cntrl-grid
    model=model.usuario
    frmComponentActualizar="frm-usuario"
    frmTitleActualizar="Actualizar Usuario"
    frmComponentCrear="frm-usuario"
    frmTitleCrear="Nuevo Usuario"
    modelCreator=model.usuario.modelCreator}}
</div>
