<div class="fgContainer">
  {{cntrl-grid
    model=model.usuario
    frmComponentCrear="frm-usuario"
    frmTitleCrear="Nuevo Usuario"
    modelCreator=model.usuario.modelCreator
    hashColumns=(hash
      editRow=(component "boton-actualizar" frmComponentActualizar="frm-usuario" frmTitleActualizar="Actualizar Usuario")
    )
  }}
</div>
